* {
  margin: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  background-color: #080c10;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#nav-wrap {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  font-size: 1.5rem;
  padding-top: 2%;
  padding-bottom: 2%;
}

.home {
  display: flex;
  margin-left: 2%;
}

.logo {
  margin-left: 5%;
  color: #66fcf1;
  font-weight: 600;
}
a {
  text-decoration: none;
}

.navbar_toggle {
  display: none;
}

.main_nav {
  display: flex;
  width: 50%;
  float: right;
  margin-right: 2%;
  justify-content: space-between;
  list-style: none;
}

.nav-link {
  color: #66fcf1;
}

.navabr-btn li {
  display: inline;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.5rem;
  color: #66fcf1;
}

/* Random Quote generator */

.content-box-wrap {
  width: 100vw;
  height: 100vh;
  margin-top: 30px;
}

.container {
  width: 70%;
  height: 70%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h1 {
  font-size: 2.3rem;
  color: white;
  align-self: center;
  margin-top: 5rem;
}

.box {
  height: 50%;
  width: 100%;
  border: #66fcf1 4px solid;
  margin-top: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  width: 50%;
  height: 3rem;
  margin-top: 20px;
  align-self: flex-end;
}

.feed {
  color: #66fcf1;
  font-size: 2rem;
  padding-left: 20px;
}

#author {
  font-style: italic;
}
