* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

body {
  overflow: hidden;
  height: 100vh;
  background-color: #0b0c10;
}

/* Navigation Bar */
.nav-container {
  display: flex;
  align-items: center;
  /* padding: 0rem 1.5rem; */
  background-color: #0b0c10;
  width: 100%;
  height: 80px;
}

.navbar {
  display: grid;
  grid-template-columns: 0.1fr auto 1fr;
  align-items: center;
  width: 100%;
  max-width: 1720px;
  /* margin: 0 auto; */
  font-size: 1.5rem;
}

.home-logo {
  place-content: center;
  padding: 0rem 1rem;
  font-weight: 600;
}

.logo {
  /* border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  padding: 0.25rem; */
  text-decoration: none;
  background: #0b0c10;
  color: #66fcf1;
}

.nav-menu {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-template-rows: 1fr;
  gap: 1rem;
  list-style: none;
  text-align: center;
  width: 100%;
  padding: 0rem 1.5rem;
  justify-content: end;
}

.nav-links {
  color: #66fcf1;
  text-decoration: none;
  /* display: grid; */
  padding: 0.5rem;
}

.nav-links:hover {
  color: white;
  transition: 0.3s ease-in-out;
}

.nav-link-btn {
  outline: 2px solid #66fcf1;
  color: white;
  padding: 6px 6px;
}
.nav-link-btn:hover {
  box-shadow: 1px solid #66fcf1;
  color: white;
  background-color: #66fcf1;
  transition: all 0.7s ease-in-out;
}

.content-container {
  margin: 200px;
}
/* Tiles  */
main #tiles-section {
  max-width: 1000px;
  margin: auto;
}

.tiles-container {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, 300px);
  margin: 20px;
  justify-content: center;
  align-items: center;
}
.tile-outer {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  /* float: left;
  margin: 20px; */
}

.tile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tile-outer:hover .tile-inner {
  transform: rotateX(180deg);
}

.tile-front,
.tile-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.tile-front {
  background-color: #bbb;
  color: black;
}

.tile-back {
  background-color: black;
  color: white;
  transform: rotateX(180deg);
  display: flex;
  align-items: center;
}

/*  Background Full Screen Video  */
#full-page-background-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.hidden-bg {
  display: none;
}
#full-screen {
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  margin: 1rem;
  background-color: darkgray;
  cursor: pointer;
}

.full-screen-toggle {
  text-decoration: none;
  color: #66fcf1;
  font-size: 1.5rem;
  font-weight: 400;
}

.full-screen-toggle:hover,
#full-screen:hover {
  transition: all 0.7s ease-in-out;
  color: white;
  background-color: #66fcf1;
}

#fetchAPI {
  width: 9rem;
  height: 3rem;
  background-color: darkgray;
  border-radius: 5px;
  border: none;
  margin: 1rem;
}

.fetchAPI {
  /* text-align: center; */
  text-decoration: none;
  color: #66fcf1;
  font-size: 1.5rem;
  font-weight: 400;
  justify-self: center;
}

.fetchTile {
  display: flex;
  justify-content: center;
  align-items: center;
}
