* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "IBM Plex Sans", sans-serif;
}

.header-wrap {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #adaabf;
}

.header-wrap {
  display: block;
}

.header-wrap nav {
  margin-left: auto;
  margin-right: auto;
  max-width: 2000px;
  width: 90%;
  font-size: 1.5rem;
  line-height: 1;
  padding: 5rem 0 5rem;
  letter-spacing: 0.025rem;
}

#nav-links {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.nav-item a {
  text-decoration: none;
  color: rgb(24, 26, 27);
}

li a {
  padding-right: 8rem;
}

/* .home-wrap {
  background-color: #adaabf;
  height: 100vh;
  width: 100%;
}
.hero-wrap {
  position: relative;
  margin: 0 auto;
  width: 75%;
  top: 40%;
}

.logo {
  font-size: 19px;
}

.profile-wrap {
  font-size: 3em;
  font-weight: 900;
  display: grid;
  padding-top: 0.2em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

#text-animation1 {
  line-height: 1.25;
  letter-spacing: -0.035em;
  transform-origin: 0 0;
  position: relative;
} */

main {
  background-color: #adaabf;
  height: 100vh;
  color: rgb(24, 26, 27);
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0 3rem;
}

h1,
h2 {
  font-weight: 600;
  margin: 0.4rem;
}

h1 {
  font-size: 3.5rem;
  color: rgb(24, 26, 27);
}

@media (min-width: 1200px) {
  h1 {
    font-size: 5rem;
  }
}

@media (max-width: 800px) {
  .hero-container {
    padding: 0 1rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
